/* Parent div */
body{
    background-color: hsl(221, 100%, 96%);
    padding-top: 5%;
    padding-bottom: 5%;
}
.parent{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@font-face {
    font-family:myfont;
    src: url(hankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: secondfont;
    src: url(HankenGrotesk-ExtraBold.ttf);
}
@font-face {
    font-family: thirdfont;
    src: url(HankenGrotesk-Medium.ttf);
}
/* first section */
#firstpart{
    width: 20%;
    height: 400px;
    background-color: hsl(252, 100%, 67%);
    border-radius: 6%;
    text-align: center;
    color: white;
    font-size: 20px;
    display: flex;
    font-weight: lighter;
    justify-content: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241,81%, 54%));
    font-family: secondfont;

    
}
/* first child div */
.circle{
    height: 150px;
    width:150px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    align-items: center;
    text-align: center;
    margin: 25px;
    padding: 10px;
    
}
.small{
    font-size:12px;
    color: rgba(245, 245, 245, 0.548);
    font-family:thirdfont;
}
.circle h4{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.circle p{
margin-top: 0px;
font-size: 15px;
font-family:thirdfont;
color: rgba(245, 245, 245, 0.548);
}
.Result{
    font-family: thirdfont;
    color:  rgba(245, 245, 245, 0.548);
}
.big{
    font-family: myfont;
    font-size: 20px;
    font-weight: bolder;
}
/* Second section */
#secondpart{
    width: 20%;
    height: 400px;
    background-color: hsl(0, 0, 100%);
    font-size: 18px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius:6% ;
    border-bottom-right-radius: 6%;
    
}
/* First child div */
.second{
    color:black;
    margin-left: 20px;
}
/* first paragraph */
.par1{
    border-radius: 10px;
    background-color: hsla(0, 100%, 67%, 0.205);
    height: 20px;
    margin:10px 20px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: hsl(0, 100%, 67%);
    background-image: url(icon-reaction.svg);
    background-repeat: no-repeat;
    background-position: 10px 16px;
    text-align: right;
}
.num1{
     margin-left: 30%;
    margin-right: 8%;
    color: black;
}
/* second paragraph */
.par2{
    border-radius: 10px;
    background-color: hsla(39, 100%, 56%, 0.205);
    height: 20px;
    margin:10px 20px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: hsl(39, 100%, 56%);
    background-image: url(icon-memory.svg);
    background-repeat: no-repeat;
    background-position: 10px 16px;
    text-align: right;
}
.num2{
    margin-left: 30%;
    margin-right: 8%;
    color: black;
}
/* third paragraph */
.par3{
    border-radius: 10px;
    background-color: hsla(166, 100%, 37%, 0.205);
    height: 20px;
    margin:10px 20px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: hsl(166, 100%, 37%);
    background-image: url(icon-verbal.svg);
    background-repeat: no-repeat;
    background-position: 10px 16px;
    text-align: right;
}

.num3{
    margin-left: 37%;
    margin-right: 9%;
    color: black;
}
/* fourth paragraph */
.par4{
    border-radius: 10px;
    background-color: hsla(241, 85%, 45%, 0.205);
    height: 20px;
    margin: 10px 20px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: hsl(241, 85%, 45%);
    background-image: url(icon-visual.svg);
    background-repeat: no-repeat;
    background-position: 10px 16px;
    text-align: right;
}
.num4{
    margin-right:10%;
    margin-left: 37%;
    color: black;
}
/* Button */
button{
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: none;
    width: 85%;
   font-size: 18px;
   line-height: 25px;
   padding: 10px;
   border-radius: 25px;
   cursor: pointer;
   margin-left: 5%;
   margin-top: 2%;
   margin-bottom: 2%;
   
}
button:active{
    background:blue;
}
/* footer */
footer p{
    font-style: italic;
    margin-left: 10%;
    font-size: small;
}
footer span{
    color: rgb(47, 47, 250);
}

@media screen and (max-width:992px) {
    body{
        background-color: white;
    }
    .parent{
        display: block;
    }
    #firstpart{
        width: 90% !important; 
        margin-top: 0%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #secondpart{
        width: 90% !important;
        margin-top: 0%;
        height: 400px;
        margin-left: 5%;
        margin-right: 5%;
    }
    button{
    margin-left: 20px;
    background-color:hsl(224, 30%, 27%) ;
    width: 85%;
    }
    .num1{
        margin-left: 45%;
    }
    .num2{
        margin-left: 45%;
    }.num3{
        margin-left: 50%;
    }.num4{
        margin-left: 50%;
    }
    footer{
        margin-left:0px;
    }
}

